/.dart_tool/
/.packages
/.pub-cache/
/.idea/
.packages
.pub/
/build/
/.flutter-plugins
/.flutter-plugins-dependencies
pubspec.lock
/.metadata
.DS_Store
*.iml
/dist/
*.log
*.lock
*.tmp
*.swp
*.db
.env*
/test-results/
/.vscode/
/node_modules/
/.history/